<template name="navbar">
	<div class="w-100 text-center mt-4">
		{{#with labels}}
			<span class="no-wrap text-{{this.type}}">{{i18n this.dimension}} - {{i18n this.level}}</span>
		{{/with}}
	</div>
	<div class="w-100 d-flex justify-content-between align-items-center mt-2 mb-4">
		{{#if showProgress}}
			{{#with progress}}
				<div class="progress w-100 bg-transparent border border-{{this.type}}">
					<div class="progress-bar bg-{{this.type}}" role="progressbar" style="width: {{this.value}}%"
						 aria-valuenow="{{this.value}}" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<span class="mx-3 no-wrap text-{{this.type}}">{{this.current}} / {{this.max}}</span>
			{{/with}}
		{{/if}}
		<span class="ml-auto no-wrap">
			{{#onComplete complete=loadComplete}}
				{{> actionButton class="mr-1" outline=true btnClass="navbar-help-button btn-sm" sound=false title=(i18n "common.help") icon="question"}}
				{{> actionButton outline=true btnClass="navbar-overview-button btn-sm" sound=false title=(i18n "common.toOverview") icon="times"}}
			{{/onComplete}}
		</span>
	</div>
</template>