/* custom.scss */
/* import the necessary Bootstrap files */
@import "{}/node_modules/bootstrap/scss/functions";
@import "{}/node_modules/bootstrap/scss/variables";

/* -------begin customization-------- */

/* simply assign the value */
$body-bg: #F3F3F3;

/* or, use an existing variable */
$theme-colors: (
        warning: #FFC800,
        danger: #D95A7C,
        success: #00DDB6,
        primary: #85C4F0,
        secondary: #183B5D
);


.lea-outline-secondary {
  background: white !important;
}

.lea-outline-secondary:hover {
  background: #183B5D !important;
  color: white !important;
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";