<template name="navbar">
	<div class="w-100 d-flex align-items-center my-3">
		{{#if showProgress}}
		<div class="progress w-100">
			{{#with progress}}
				<div class="progress-bar bg-{{dimension.type}}" role="progressbar" style="width: {{this}}%"
					 aria-valuenow="{{this}}" aria-valuemin="0" aria-valuemax="100"></div>
			{{/with}}
		</div>
		<span class="mx-3 no-wrap">{{currentTaskCount}} / {{maxTasksCount}}</span>
		{{/if}}
		<span class="mx-3 no-wrap">{{i18n dimensionLabel}} - {{i18n levelLabel}}</span>
		{{#actionButton sm=true tts="common.toOverview" outline=true
						class="no-wrap" btnClass="btn-sm nav-overview-button"}}
			{{#each dimensions}}
				<i class="fa fas fa-square text-{{this.type}}"></i>
			{{/each}}
		{{/actionButton}}
	</div>
</template>