<template name="footer">
    <footer class="container-fluid w-100 mt-5 pb-3">
        <nav class="navbar navbar-expand-lg bg-transparent bg-light">
            <div class="container">
                {{#if loadComplete}}
                    <div class="row w-100">
                        <div class="col col-12 col-md-4 d-flex flex-wrap align-items-center">
                            <a class="navbar-brand" href="/">
                            {{> image src="/logo/logo-200x34.png"
                                    alt="logo"
                                    width=200
                                    height=34
                                    class="lea-footer-image d-md-block mr-2"}}
                            </a>
                            {{#each logo in logos}}
                                <a class="navbar-brand" href="{{logo.url}}"
                                   target="_blank" rel="noopener noreferrer">
                                    {{> image src=logo.url
                                            title=logo.title
                                            alt=logo.title
                                            class="lea-footer-image mr-auto"
                                            cors="Anonymous"}}
                                </a>
                            {{/each}}
                        </div>
                        <div class="col col-12 col-md-8 d-flex flex-wrap align-items-center py-md-0 py-4">
                            {{#each legalRoute in legalRoutes}}
                                {{#if loadComplete}}
                                    {{#routeButton
                                            tts=legalRoute.label
                                            sm=true
                                            outline=true
                                            border=true
                                            group=true
                                            href=(route "legal" legalRoute.name)
                                            label=(i18n legalRoute.label)
                                            class="ml-auto mb-2 mb-lg-0"
                                            labelClass="lea-text-sm"
                                            data-key=legalRoute.name}}
                                    {{/routeButton}}
                                {{else}}
                                    <a href="{{route "legal" legalRoute.name}}"
                                       class="mx-2">{{legalRoute.name}}</a>
                                {{/if}}
                            {{/each}}
                            {{#with currentUser}}
                                {{#if loadComplete}}
                                    {{#routeButton
                                            tts="common.logout"
                                            sm=true
                                            type="primary"
                                            outline=true
                                            border=true
                                            group=true
                                            href=(route "logout")
                                            class="logout-button ml-auto no-wrap"}}
                                        <span class="lea-text-sm">{{this.username}}</span>
                                        <span class="lea-text-sm">{{i18n
                                                "common.logout"}}</span>
                                        <i class="fa fas fa-fw fa-sign-out-alt"></i>
                                    {{/routeButton}}
                                {{else}}
                                    <a href="{{route "logout"}}"
                                       class="logout-button">
                                        <i class="fa fas fa-fw fa-sign-out-alt"></i>
                                        ...
                                    </a>
                                {{/if}}
                            {{/with}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </nav>
    </footer>
</template>
